
<!-- <app-admin-header></app-admin-header> -->
<div class="container-fluid">
    <br>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-dark">Users Table<Table></Table></h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Cart Id</th>
                            <th>User Id</th>
                            <th>SongSheet Id</th>
                            <th>Instrumet Id</th>
                            <th>Tutor Id</th>
                            <th>Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let cart of carts">
                            <td>{{cart.oId}}</td>
                            <td>{{cart.uId}}</td>
                            <td>{{cart.sId}}</td>
                            <td>{{cart.inId}}</td>
                            <td>{{cart.tId}}</td>
                            <td>{{cart.quantity}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>